.side-bar
  background rgba(250, 250, 250, 1)
  .sidebar-link
    background transparent

.level-2
  font-size 16px
  .sidebar-link
    font-weight 600

.level-3
  font-size 14px
  padding-left 0.9rem!important
  &:not(.active)
    opacity .6
  .sidebar-link
    font-weight 400

  
.home-blog 
  .hero
    h1,
    .description
      color: #fff



.abstract-wrapper
  .abstract-item
    border-radius 8px!important