// 颜色
$accentColor = #569A4D // #3eaf7c
$textColor = #09132B
$borderColor = #B1A7A0
$codeBgColor = #282c34
$arrowBgColor = #B1A7A0
$badgeTipColor = #94B4C5
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px